# .env.example

# Services urls

VITE_API_USER_CREATE_URL=
VITE_API_USER_READ_URL=
VITE_API_USER_UPDATE_URL=
VITE_API_USER_DELETE_URL=

VITE_API_STOP_CREATE_URL=
VITE_API_STOP_READ_URL=
VITE_API_STOP_UPDATE_URL=
VITE_API_STOP_DELETE_URL=

VITE_API_TIMETABLE_CREATE_URL=
VITE_API_TIMETABLE_READ_URL=
VITE_API_TIMETABLE_UPDATE_URL=
VITE_API_TIMETABLE_DELETE_URL=

VITE_API_LOGIN_URL=
VITE_API_REFRESH_TOKEN_URL=